<div>
   <h2>Create new Course </h2>
   <hr>
   <div class="col-md-4">
     <form [formGroup]="createCourseForm" (ngSubmit)="saveCourse(createCourseForm.value)" autocomplete="off">
       <div class="form-group">
         <label for="courseName">Course Name:</label>
         <em *ngIf="name.invalid && (name.touched || mouseoverSave)">Required</em>
         <input formControlName="name" id="courseName" type="text" class="form-control" placeholder="Course Name" />
       </div>
       <div class="form-group">
         <label for="price">Price:</label>
         <em *ngIf="price.invalid && (price.touched || mouseoverSave)">Required</em>
         <input formControlName="price" id="price" type="text" class="form-control" placeholder="Price" />
       </div>
       <div class="form-group">
        <label for="mentor">Mentor:</label>
        <em *ngIf="mentor.invalid && (mentor.touched || mouseoverSave)">Required</em>
        <input formControlName="mentor" id="mentor" type="text" class="form-control" placeholder="Mentor" />
      </div>
      <div class="form-group">
        <label for="level">Level:</label>
        <em *ngIf="level.invalid && (level.touched || mouseoverSave)">Required</em>
        <input formControlName="level" id="level" type="text" class="form-control" placeholder="Level" />
      </div>
      <div style="padding-top: 10px;">
        <span (mouseenter)="mouseoverSave=true" (mouseleave)="mouseoverSave=false">
          <button type="submit" class="btn btn-outline-save">Save</button>
        </span>
        &nbsp;
        <button (click)="cancel()" type="button" class="btn btn-outline-cancel">Cancel</button>
      </div>
     </form>
   </div>
</div>