<nav class="sidebar">
      <div class="list-group">
          <a class="list-group-item">
              <i class="fa fa-fw fa-lg fa-align-justify"></i>&nbsp;
              <span> Mentors </span>
          </a>
          <div class="nested-menu">
              <a class="list-group-item" (click)="toggleMenu('courses')">
                  <i class="fa fa-fw fa-lg fa-book"></i>&nbsp;
                  <span> Courses </span>
              </a>
              <li class="nested" [class.expand]="showMenu === 'courses'">
                  <ul class="submenu">
                      <li>
                          <a class="list-group-item" [routerLink]="['home/courses/create']">
                              <i class="fa fa-plus"></i>&nbsp;
                              <span> Add Course</span>
                          </a>
                      </li>
                      <li>
                          <a class="list-group-item" [routerLink]="['home/courses']">
                              <i class="fa fa-eye"></i>&nbsp;
                              <span> View Courses </span>
                          </a>
                      </li>
                  </ul>
              </li>
          </div>
      </div>
  </nav>
  