/* You can add global styles to this file, and also import other style files */

.bg-dark-0 {
   background-color: #181818
}
.bg-dark-1 {
   background-color: #222222
}
.bg-dark-2 {
   background-color: #222222
}
